[submodule "home-manager"]
	path = nixos/home-manager
	url = https://github.com/muneebusmani/home-manager

[submodule "nixos/home-manage"]
	path = nixos/home-manage
	url = https://github.com/muneebusmani/home-manager
